[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
passwordgenerator = "==1.4"
pycryptodome = "==3.11.0"
pyperclip = "==1.8.2"
scrypt = "==0.8.18"

[dev-packages]

[requires]
python_version = "3.11"
